<section class="cards">

    <h2 class="pb-4">Por que Viajar Conosco?</h2>

    <div class="card-container row px-5">
        <div class="col-lg-4 card-box"> 
            <img src="../../../assets/icons/icon01.svg" class="mx-auto d-block" style="width: 80px" alt="">
            <h3 class="pb-4"><i class="bi bi-arrow-right-short"></i> Programa de Fidelidade</h3>
            <p>Ganhe benefícios exclusivos a cada viagem.</p>
        </div>

        <div class="col-lg-4 card-box">
            <img src="../../../assets/icons/icon02.svg" class="mx-auto d-block" style="width: 80px" alt="">
            <h3 class="pb-4"><i class="bi bi-arrow-right-short"></i> Ofertas Especiais</h3>
            <p>Promoções relâmpago com ofertas e descontos exclusivos.</p>
        </div>
    
        <div class="col-lg-4 card-box">
            <img src="../../../assets/icons/icon03.svg" class="mx-auto d-block" style="width: 80px" alt="">
            <h3 class="pb-4"><i class="bi bi-arrow-right-short"></i> Atendimento Personalizado</h3>
            <p>Itinerário adaptado às preferências e ao orçamento de cada cliente</p>
        </div>
    </div>

</section>

