<section class="footer">
  
<div class="container">
    <footer class="py-5">
      <div class="row align-items-start">
        <div class="col mb-4">
          <h5>Menu</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contato</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Destinos</a></li>
          </ul>
        </div>
  
        <div class="col mb-4">
          <h5>Endereço</h5>
          <ul class="nav flex-column">
            <p><i class="bi bi-house-door"></i> Rua: Brasil, 1000 BH</p>
            <p><i class="bi bi-envelope"></i> travelcontatoEmail.com</p>
            <p><i class="bi bi-telephone"></i> 00 9999-9999</p>
          </ul>
        </div>
  
        <div class="col mb-4">
          <form>
            <h5>Newsletter</h5>
            <p>Receba Promoções Exclusivas No Seu E-Mail</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Digite Seu Email">
              <button class="btn btn-primary" type="button">Assinar</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex py-4 my-4 border-top link-secondary">
        <p>Desenvolvido Por Tatiane Tinoco</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-secondary" href="https://github.com/tatianetinoco"><i class="bi bi-github"></i></a></li>
          <li class="ms-3"><a class="link-secondary" href="https://www.linkedin.com/in/tatianetinoco/"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </footer>
</div>

</section>


