<section class="header">
    <app-menu></app-menu>

<div class="header-container">
  <h1 class="header-title">Viaje Com a <span id="header-texto-destaque">Travel</span></h1>
  <div class="header-form" >
    <form action="/">
      <div class="header-form-group">
        <label for="destination">Destino</label>
        <input type="text" placeholder="País">
      </div>
      <div class="header-form-group">
        <label for="checkIn">Data De Ida</label>
        <input type="date" placeholder="Escolha a Data">
      </div>
      <div class="header-form-group">
        <label for="CheckOut">Data De Volta</label>
        <input type="date" placeholder="Escolha a Data">
      </div>
      <div class="header-form-group">
        <label for="guests">Viajantes</label>
        <input type="number" placeholder="Número de pessoas">
      </div>
      <button class="btn">Buscar</button>
    </form>
  </div>

    
</div>

</section>


