.header{
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 1.0),rgba(8, 172, 254, 0.4)), url(../../../assets/img-bg-header.jpg);
    background-size: cover;
    background-position: center;
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-content{
    max-width: 70%;
}

.header-title{
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-subtitle{
    color: #eeeeee;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.862) 0px 5px 8px;
}

#header-texto-destaque{
    color: aqua;
}

#header-btn{
    color: #ffffff;
    font-weight: 600;
    background-color: transparent;
    border: 4px solid #00ffff;
}

#header-btn:hover{
    background-color: #02abab52;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 900px){
    .header-content{
        max-width: 100%;
    }
}