.header {
    background-image: linear-gradient(140deg, rgba(0, 0, 0, 1.0),rgba(8, 172, 254, 0.4)), url(../../../assets/img-bg-header.jpg);
    background-size: cover;
    background-position: center;
    height: auto;  
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem 10rem;
}

.header-title {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    max-width: 1000px;
    margin-inline: auto;
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#header-texto-destaque{
    color: aqua;
}

.header-form {
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.header-form form {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
}

.header-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-form-group label {
    font-size: 1rem;
    font-weight: 600;
    color: #1b1b1b;
}

.header-form-group input {
    max-width: 140px;
    outline: none;
    border: none;
    font-size: 0.9rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background-color: #f13033;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff0004;
}

