<section class="header">
    <app-menu></app-menu>

<div class="row g-5 py-5 header-container">
    <div class="header-content">
      <h1 class="display-5 fw-bold lh-1 mb-3 header-title">Viaje Com a <span id="header-texto-destaque">Travel</span></h1>
      <p class="lead header-subtitle">Transforme suas viagens em momentos inesquecíveis para você e sua família e construa lembranças para toda a vida!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button id="header-btn" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Procurar Destino</button>
      </div>
    </div>
</div>

</section>


