<section class="content-all" >
    
    <div class="cards-container">
        <h2 id="card-title">Escolha Um Destino</h2>
        <div class="cards-content">
    
            <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-americas.jpg" alt="Card image cap">
                <div class="card-body">
                  <a class="nav-link card-text" routerLink="america"><i class="bi bi-geo-alt-fill"></i> Américas</a>
                </div>
              </div>
       
              <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-europa.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text" routerLink="europa"><i class="bi bi-geo-alt-fill"></i> Europa</p>
                </div>
              </div>
    
              <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-asia.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><i class="bi bi-geo-alt-fill"></i> Ásia</p>
                </div>
              </div>
    
              <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-africa.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><i class="bi bi-geo-alt-fill"></i> África</p>
                </div>
              </div>
              <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-oceania.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><i class="bi bi-geo-alt-fill"></i> Oceania</p>
                </div>
              </div>
    
              <div class="card cards-box">
                <img class="card-img-top" src="../../../assets/img-antartida.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><i class="bi bi-geo-alt-fill"></i> Antártida</p>
                </div>
              </div>
        </div>
    </div>

</section>
