<section class="form-container">
    <div>
        <h2>Entre Em Contato</h2>
        <p>Entre em contato conosco pelo formulário abaixo que vamos atendê-lo o mais breve possível.</p>
    </div>

    <form>
        <div class="form-group mb-4">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control"  required minlength="4" maxlength="30" placeholder="Digite Seu Nome">
        </div>

        <div class="form-group mb-4">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" class="form-control" required placeholder="Digite Seu Email">
        </div>

        <div class="form-group mb-4">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
  
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</section>